{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block titulo %}  {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="{% static 'Backups_App/css/bootstrap.min.css' %}"> 
  <link rel="shortcut icon" type="image/png" href="{% static 'Backups_App/img/server-storage.png' %}"/>
</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="p-3 mb-2 bg-transparent text-dark"><img src="{% static 'Backups_App/img/logo_claro_small.png' %}" alt="..."></div>
          <a class="navbar-brand" >BOIP Login </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            
            </ul>  
        
          </div>
        </div>
      </nav>
    
  </header>
  
<div class="card">
    <div class="card-header">

    </div>
   
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputUser1" class="form-label">Usuario</label>
        <input type="username" name="username" class="form-control" id="exampleInputUser1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca comparta estas credenciales con nadie más.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
    <p></p>
    <div class="card-footer text-muted">
      BOIP Backups v1.0.0 | Contacto: backofficeip@claro.com.gt - nelson.avalos@claro.com.gt
    </div>
</div>
  
</body>
