{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container mt-5">
        <h2>Cambiar Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
        </form>
    </div>
  </body>
</html>
