{% extends "base.html" %}
{% block titulo %}INICIO{% endblock %}
{% block contenido %} 

<script>onloadpagesabout();</script>
<div class="row" style="margin: 10px;">
    <div class="col-md-12">
        <h1>Acerca de este Portal.</h1>
        <table id="tabla-datos">
            <thead>
                <tr>
                    <th>Portal de busqueda de IPs y herramientas para Throubleshooting. </th>
                </tr>
            </thead>
            <tbody id="tabla-body">
            </tbody>
        </table>
    </div>
    <script>onloadpagesabout();</script>
</div>

{%endblock%}

