{% extends "base.html" %}
{% block titulo %}INICIO{% endblock %}
{% block contenido %} 

<div class="row" style="margin: 10px;">

</div>

<div class="row" style="margin: 10px;">
    
    <div class="col-md-6">
        <div class="col-md-12">
            <h1>Acerca del Portal Busca Nodos IP  v.2.2.</h1>
            <table id="tabla-datos">
                <thead>
                    <tr>
                        <th>Portal de busqueda de IPs y herramientas para Throubleshooting. </th>
                    </tr>
                    <tr>
                        <th>Nelson Avalos. </th>
                    </tr>
                </thead>
                <tbody id="tabla-body">
                </tbody>
            </table>
        </div>
        <script>onloadpagesabout();</script> 
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-5"> 

    </div>


    <script></script>
</div>

{%endblock%}

