{% extends "base.html" %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-md-6">
            {% if dbs %}
                {% for db in dbs %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{db}}">
                        Abrir modal de {{db}}
                        </button>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">No se encontraron registros.</td>
            </tr>
            {% endif %}        
    </div>

    <div class="col-md-6">
        {% for db in dbs %}
            <div class="modal fade" id="{{db}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{db}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{db}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

 {%endblock%}

