{% extends "base.html" %}
{% block titulo %}Buscador IP{% endblock %} 
{% block contenido %} 

<div class="row" style="margin: 10px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" style="margin-top: 6px;">
                <form  action="/buscaips" method="GET">
                    {% csrf_token %}
                    <div class="input-group mb-3" style="margin-top: 2 px;">
                        <span class="input-group-text">INGRESE ID:</span>
                        <input type="text"  id="idtxtidrbs" name="idrbs" class="form-control"  placeholder="ID a Buscar..." required>
                        <input type="hidden"  id="idtxtdbrbs" name="dbrbs">
                        <input type="hidden"  id="idtxtpivrbs" name="pivrbsrbs" value ="0">
                        <button type="submit" class="btn btn-danger"  name="buscar_rbs" value="Recargar">Buscar</button>
                    </div>
                    </form>
                    {% if listarbs %}
                        <table id = "tablanodos" class="table table table-sm">
                            <thead>
                            <tr>
                                <th scope="col" width="40">NEMONICO</th>
                                <th scope="col" width="40">IP</th>
                                <th scope="col" width="40">TIPO</th>
                            </tr>
                            </thead>
                        <tbody>
                            {% for rbs in listarbs %}
                            <tr>
                                <td width="40"><a class="link-primary" id = "{{rbs.0}}">{{rbs.0}}</a></td>
                                <td width="40"><a href = "#" class="link-primary" id = "{{rbs.1}}" onclick="copiaripnodo(this.id); return false;">{{rbs.1}}</a></td>
                                <td width="40">{{rbs.2}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}
                    <form  action="/buscaips" method="GET">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="margin-top: 6px;">
                            <span class="input-group-text">INGRESE LA IP:</span>
                            <input type="text"  id="idtxtip" name="ipcpe" class="form-control"  placeholder="IP a Buscar..." required>
                            <input type="hidden" id="idtxtdb" name="dbcpe">
                            <input type="hidden"  id="idtxtpiv" name="pivcpe" value ="1">
                            <button type="submit" class="btn btn-danger" name="buscar_ip" value="Recargar">Buscar</button>
                            <select id="selectdb" name="selectdbs" data-placeholder="Choose" class="input-group-text" aria-label=".form-select-sm example" onchange="copiaselectdbsrbs(); return;">
                                {% for  db in dbs %}
                                  <option value="{{ db }}">{{ db }}</option>
                                {% endfor %}
                            </select>
                        </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="margin-top: 6px;">
                {% if tipoalerta == '0' %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {%if res_ping %}
                        <strong>{{ res_ping }}</strong>. 
                    {% else %}
                        <strong>{{ res_ping }}</strong>-- Excepción desde la API. 
                    {% endif %} 
                </div>
                {% endif %}

                {% if tipoalerta == '1' %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {%if res_ping %}
                            <strong>{{ res_ping }}</strong>. 
                        {% else %}
                            <strong>{{ res_ping }}</strong> 
                        {% endif %} 
                    </div>
                {% endif %}
                {% if tipoalerta == '2' %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {%if res_ping %}
                            <strong>{{ res_ping }}</strong>. 
                        {% else %}
                            <strong>{{ res_ping }}</strong>. 
                        {% endif %} 
                    </div>
                {% endif %}
                {% if tipoalerta == '3' %}
                    <div class="alert alert-dismissible alert-primary">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {%if res_ping %}
                            <strong>{{ res_ping }}</strong>. 
                        {% else %}
                            <strong>{{ res_ping }}</strong>. 
                        {% endif %} 
                    </div>
                {% endif %}
            </div>
            <script>onloadpagbuscaips();</script>
        </div>

        <div class="row">    <!--SEGUNDA FILA</a>-->
            <div class="col-md-8">
                {% if listaips %}
                    <table id = "tablaips" class="table table table-sm">
                            <thead >
                            <tr>
                                <th scope="col" width="140">PE</th>
                                <th scope="col" width="140">ELEMENTO</th>
                                <th scope="col" width="140">MAC</th>
                                <th scope="col" width="140">VLAN</th>
                                <th scope="col" width="140">SVI</th>
                                <th scope="col" width="200">VRF</th>
                                <th scope="col" width="140">PAIS</th>
                                <th scope="col" width="100">DB</th>
                            </tr>
                            </thead>
                        <tbody>
                                {% for ip in listaips %}
                                <tr>
                                    <td width="140">{{ip.0}}</td> 
                                    <td width="140">{{ip.1}}</td>
                                    <td width="140">{{ip.2}}</td>
                                    <td width="140">{{ip.3}}</td>
                                    <td width="140">{{ip.4}}</td>
                                    <td width="200">{{ip.5}}</td>
                                    <td width="140">{{ip.6}}</td>
                                    <td width="140">{{ip.7}}</td>
                                    <td width="20">
                                        <a  id="idbuscaservicio"
                                            href="{% url 'buscar_mac' ip.0 ip.1 ip.2 ip.3 ip.5 ip.6 ip.7 %}?boton=ver" 
                                            title="Ver" 
                                            class="btn btn-info">Ver
                                        </a>
                                    </td>
                                    <td width="20">
                                        <button 
                                            type="button" 
                                            class="btn btn-primary" 
                                            onclick="hacerpingelemento('{{ip.0}}', '{{ip.1}}', '{{ip.2}}', '{{ip.3}}', '{{ip.5}}', '{{ip.6}}', '{{ip.7}}'); return false;">
                                            ping
                                        </button>
                                    </td>                            
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>    
                {% endif %}
            </div>

        <div class="row" >   
            <div class="col-md-8">
                {% if listar_mac %}
                <table id = "tablaips" class="table table table-sm">
                        <thead >
                        <tr>
                            <th scope="col" width="15">ESTADO</th>
                            <th scope="col" width="20">DISPOSITIVO</th>            
                            <th scope="col" width="15">MAC</th>
                            <th scope="col" width="15">VLAN-PW</th>
                            <th scope="col" width="30">INTERFACE/PEER</th>
                            <th scope="col" width="15">DETALLE</th>
                            <th scope="col" width="15">#MAC</th>
                            <th scope="col" width="40">DESCRIPCIÓN</th>
                        </tr>
                        </thead>
                    <tbody>
                            {% for equipo in listar_mac %}
                            <tr {% if equipo.6 == 'Up' %} class="table-success" {% else %} class="table-danger" {% endif %}>
                                <td width="30" >{{equipo.6}}</td>
                                <td width="80" >{{equipo.0}}</td>
                                <td width="100">{{equipo.1}}</td>
                                <td width="100">{{equipo.2}}</td>
                                <td width="100">{{equipo.3}}</td> 
                                <td width="100">
                                    <button type="button" 
                                            class="btn btn-info" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#f{{equipo.8}}"
                                            onclick="verdetalleinterface('{{equipo.0}}', '{{equipo.1}}', '{{equipo.2}}', '{{equipo.3}}')">
                                            &#x1F50E
                                    </button>
                                </td>                                       
                                <td width="30">{{equipo.4}}</td>
                                <td width="30">{{equipo.5}}</td>   
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div> 
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="resultadoModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Resultado:</h5>
                </div>
                <style>
                    .progress-bar {
                    transition: width 1s ease-in-out;
                    }
                </style>
                <div class="progress" style="margin: 0 5mm;">
                    <div class="progress-bar" role="progressbar" id="barraProgreso" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="modal-body">
                    <p id="resultadoPing"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}



