{% extends "base.html" %}
{% block titulo %}Buscador IP{% endblock %}
{% block contenido %} 

<div class="row" style="margin: 10px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form action=" " method="GET">
                    {% csrf_token %}
                    <div class="input-group mb-3" style="margin-top: 2 px;">
                        <span class="input-group-text">INGRESE ID:</span>
                        <input type="text"  id="idtxtidrbs" name="idrbs" class="form-control"  placeholder="ID a Buscar..." required>
                        <input type="hidden"  id="idtxtdbrbs" name="dbrbs">
                        <input type="hidden"  id="idtxtpivrbs" name="pivrbsrbs" value ="0">
                        <button type="submit" class="btn btn-danger" name="buscar_rbs">Buscar</button>
                    </div>
                    </form>
                    <table id = "tablanodos" class="table table table-sm">
                        <thead>
                        <tr>
                            <th scope="col" width="40">NEMONICO</th>
                            <th scope="col" width="40">IP</th>
                            <th scope="col" width="40">TIPO</th>
                        </tr>
                        </thead>
                    <tbody>
                        {% if listarbs %}
                            {% for equipo in listarbs %}
                            <tr>
                                <td width="40"><a href = "#" class="link-primary" id = "{{equipo.0}}">{{equipo.0}}</a></td>
                                <td width="40"><a href = "#" class="link-primary" id = "{{equipo.1}}" onclick="copiaripnodo(this.id); return false;">{{equipo.1}}</a></td>
                                <td width="40">{{equipo.2}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="2">No se encontraron registros.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    </table>
                    <form method="GET">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="margin-top: 5px;">
                            <span class="input-group-text">INGRESE LA IP:</span>
                            <input type="text"  id="idtxtip" name="ipcpe" class="form-control"  placeholder="IP a Buscar..." required>
                            <input type="hidden" id="idtxtdb" name="dbcpe">
                            <input type="hidden"  id="idtxtpiv" name="pivcpe" value ="1">
                            <button type="submit" class="btn btn-danger" name="buscar_ip">Buscar</button>
                        </div>
                </form>
            </div>

            <div class="col-md-4">   
               
            </div>

            <div class="col-md-4">  
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Resumen SR a Proveedores -- &nbsp&nbsp&nbsp&nbsp
                          <span class="badge bg-primary rounded-pill">{{sumasr.0}}</span>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <table id = "tablaips" class="table table table-sm">
                                <thead >
                                   <tr>
                                     <th scope="col">SR</th>
                                     <th scope="col">ABIERTO</th>
                                     <th scope="col">PAIS</th>
                                     <th scope="col">DÍAS</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   {% for doc in listarsr %}
                                      <tr>
                                        <td>{{doc.1}}</td> 
                                        <td>{{doc.3}}</td>
                                        <td>{{doc.9}}</td>
                                        <td>{{doc.10}}</td>                            
                                      </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                            Actividades Calendarizadas &nbsp&nbsp - &nbsp&nbsp
                          <span class="badge bg-primary rounded-pill">{{sumaotros}}</span>
                        </button>
                      </h2>
                      <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <strong>body.</strong> TABLA 2.        
                        </div>
                    </div>
                </div>   
            </div>

            <script>onloadpag();</script>
        </div>

        <div class="row">    <!--SEGUNDA FILA</a>-->
            <div class="col-md-8">
                {% if listaips %}
                    <table id = "tablaips" class="table table table-sm">
                            <thead >
                            <tr>
                                <th scope="col" width="140">PE</th>
                                <th scope="col" width="140">ELEMENTO</th>
                                <th scope="col" width="140">MAC</th>
                                <th scope="col" width="140">VLAN</th>
                                <th scope="col" width="140">SVI</th>
                                <th scope="col" width="200">VRF</th>
                                <th scope="col" width="140">PAIS</th>
                                <th scope="col" width="100">DB</th>
                            </tr>
                            </thead>
                        <tbody>
                                {% for ip in listaips %}
                                <tr>
                                    <td width="140">{{ip.0}}</td> 
                                    <td width="140">{{ip.1}}</td>
                                    <td width="140">{{ip.2}}</td>
                                    <td width="140">{{ip.3}}</td>
                                    <td width="140">{{ip.4}}</td>
                                    <td width="200">{{ip.5}}</td>
                                    <td width="140">{{ip.6}}</td>
                                    <td width="140">{{ip.7}}</td>
                                    <td width="20">
                                        <a  id="idbuscaservicio"
                                            href="{% url 'buscar_mac' ip.0 ip.1 ip.2 ip.3 ip.5 ip.6 ip.7 %}?boton=ver" 
                                            title="Ver" 
                                            class="btn btn-info">Ver
                                        </a>
                                    </td>
                                    <td width="20">
                                        <a id="idtest" 
                                            href="{% url 'ping_cpe' ip.0 ip.1 ip.5 ip.6 ip.7 %}?boton=Ping" 
                                            title="Ping" 
                                            class="btn btn-info"
                                            onclick="updateModalBody()">Ping
                                        </a>
                                    </td>                            
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>    
                {% endif %}
        </div>

        <div class="row" >   
            <div class="col-md-8">
                {% if listaips %}
                <table id = "tablaips" class="table table table-sm">
                        <thead >
                        <tr>
                            <th scope="col" width="15">DISPOSITIVO</th>            
                            <th scope="col" width="15">MAC</th>
                            <th scope="col" width="15">VLAN-PW</th>
                            <th scope="col" width="20">INTERFACE/PEER</th>
                            <th scope="col" width="15">#</th>
                            <th scope="col" width="40">DESCRIPCIÓN</th>
                        </tr>
                        </thead>
                    <tbody>
                            {% for equipo in listar_mac %}
                            <tr {% if equipo.6 == 'Up' %} class="table-success" {% else %} class="table-danger" {% endif %}>
                                <td width="60" >{{equipo.0}} is  {{equipo.6}} </td>
                                <td width="100">{{equipo.1}}</td>
                                <td width="100">{{equipo.2}}</td>
                                <td width="30">
                                    <button type="button" 
                                            class="btn btn-info" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#f{{equipo.8}}">{{equipo.3}} &#x1F50E
                                    </button>
                                </td>                                       
                                <td width="30">{{equipo.4}}</td>
                                <td width="30">{{equipo.5}}</td>   
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div> 
            <div class="col-md-4">
                
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <!--VENTANA MODAL -->
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">RESULTADO:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>{{res_ping}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <!--VENTANA MODAL -->
    </div>
</div>
{%endblock%}

