{% extends "base.html" %}
{% block titulo %}INICIO{% endblock %}
{% block contenido %} 

<div class="row" style="margin: 10px;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form action=" " method="GET">
            {% csrf_token %}
            <div class="input-group mb-3" style="margin-top: 5px;">
                <span class="input-group-text">Buscar</span>
                <input type="text"  id="idtxtabuscar" name="strbuscado" class="form-control"  placeholder="Quiero tener suerte ...." required>
                <input type="hidden" id="idtxtdb" name="dbstr">
                <button type="submit" class="btn btn-danger" >Buscar {{opcion}}</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"> 
    </div>
    <script>onloadpagevarios();</script>
</div>

<div class="row"> 
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    {% for dato in headtable %}
                        <th scope="col">{{ dato }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if resultado %}
                {% for item in resultado %}
                    <tr>
                        {% for elemento in item %}
                            <td><a>{{ elemento }}</a></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
    </div>
    <div class="col-md-1">
    </div>
</div>
 {%endblock%}

