{% extends "base.html" %}
{% block titulo %}INICIO{% endblock %}
{% block contenido %} 

<div class="row" style="margin: 10px;">
    <div class="col-md-4">
    </div> 
    <div class="col-md-4">
        {% if opcion == 'actividades' %}
                <form action=" " method="GET">
                {% csrf_token %}
                <div class="input-group mb-3" style="margin-top: 5px;">
                    <span class="input-group-text">Buscar</span>
                    <input type="text" id="idtxtabuscar" name="strbuscado" class="form-control" placeholder="Quiero tener suerte ...." required>
                    <input type="hidden" id="idtxtdb" name="dbstr">
                    <button type="submit" class="btn btn-danger">Buscar {{opcion}}</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idformact" onclick="agregafechahora(); return false;">Agregar</button>
                </div>
                </form>
            {% elif opcion == 'casos SR' %}
                <form action=" " method="GET">
                {% csrf_token %}
                <div class="input-group mb-3" style="margin-top: 5px;">
                    <span class="input-group-text">Buscar</span>
                    <input type="text" id="idtxtabuscarsr" name="strbuscado" class="form-control" placeholder="Quiero tener suerte ...." required>
                    <input type="hidden" id="idtxtdbsr" name="dbstr">
                    <button type="submit" class="btn btn-danger">Buscar {{opcion}}</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idformsr" onclick="agregafechahora(); return false;">Agregar</button>
                </div>
                </form>
            {% else %}
        {% endif %}  
    </div>
    <div class="col-md-4"> 
    </div>

    <!--VENTANA MODAL REGISTRO ACTIVIDAD-->
     <div class="modal fade" id="idformact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar actividad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'agregar_act' %}" >
                        <!-- Tus campos de formulario aquí -->
                        {% csrf_token %}
                        <fieldset>  
                          <div class="form-group">
                            <input class="form-control" id="ididentificador" type="text" name="ididentificador" placeholder="Identificador actividad" required maxlength="95">  
                        </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="text" class="form-control" id="idtitulo" name="idtitulo" placeholder="Título actividad"  required maxlength="95">
                          </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="date" class="form-control" id="idfechaact" name="idfechaact" placeholder="Fecha actividad" required >
                            <small id="emailHelp" class="form-text text-muted">Fecha de la actividad</small>
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="time" class="form-control" id="idhoraact" name="idhoraact" placeholder="Hora actividad" required >
                            <small id="emailHelp" class="form-text text-muted">Hora de la actividad</small>
                            </div>
                            <div class="form-group">
                                &nbsp&nbsp&nbsp&nbsp
                                <input type="text" class="form-control" id="iddescripcion" name="iddescripcion" placeholder="Descripción actividad" maxlength="150" oninput="this.value = this.value.substring(0, this.maxLength)" required maxlength="140">
                            </div>
                          <div>
                            &nbsp&nbsp&nbsp&nbsp
                            <textarea class="form-control" id="iddetalle" name="iddetalle" placeholder="Detalle" rows="3" maxlength="200" oninput="this.value = this.value.substring(0, this.maxLength)" required maxlength="180"></textarea>
                          </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <input class="form-control" id="idfechahora" type="text" name="idfechahora" readonly="">
                          </div>
                          <div>
                            &nbsp&nbsp&nbsp&nbsp
                          </div>
                          <button type="submit" class="btn btn-primary">Aceptar</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>  
     </div>

    <!--VENTANA MODAL CASO PROVEEDOR-->
    <div class="modal fade" id="idformsr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Casos SR:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'agregar_sr' %}" >
                        <!-- Tus campos de formulario aquí -->
                        {% csrf_token %}
                        <fieldset>  
                          <div class="form-group">
                            <input class="form-control" id="ididentificadorsr" type="text" name="ididentificadorsr" placeholder="Identificador caso sr" required maxlength="95">
                          </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="text" class="form-control" id="idtitulosr" name="idtitulosr" placeholder="Título caso" required maxlength="95">
                          </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="date" class="form-control" id="idfechasr" name="fechasr" placeholder="Fecha apertura" required>
                            <small id="emailHelp" class="form-text text-muted">Fecha de la actividad</small>
                            &nbsp&nbsp&nbsp&nbsp
                            <input type="time" class="form-control" id="idhorasr" name="horasr" placeholder="Hora apertura" >
                            <small id="emailHelp" class="form-text text-muted">Hora de la actividad</small>
                            </div>
                            <div class="form-group">
                                &nbsp&nbsp&nbsp&nbsp
                                <input type="text" class="form-control" id="iddescripcionsr" name="iddescripcionsr" placeholder="Descripción caso" maxlength="150" oninput="this.value = this.value.substring(0, this.maxLength)" requrequired maxlength="180">
                            </div>
                          <div>
                            &nbsp&nbsp&nbsp&nbsp
                            <textarea class="form-control" id="iddetallesr" name="iddetallesr" placeholder="Detalle del caso" rows="3" maxlength="200" oninput="this.value = this.value.substring(0, this.maxLength)"required maxlength="180"></textarea>
                          </div>
                          <div class="form-group">
                            &nbsp&nbsp&nbsp&nbsp
                            <select id="idvendor" name="vendors" data-placeholder="Choose" class="input-group-text" aria-label=".form-select-sm example">
                                {% for  items in vendors %}
                                  <option value="{{ items }}">{{ items }}</option>
                                {% endfor %}
                            </select>
                            &nbsp&nbsp&nbsp&nbsp
                            <select id="idpais" name="paises" data-placeholder="Choose" class="input-group-text" aria-label=".form-select-sm example">
                                {% for  pais in paises %}
                                  <option value="{{ pais }}">{{ pais }}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div>
                            &nbsp&nbsp&nbsp&nbsp
                          </div>
                          <button type="submit" class="btn btn-primary">Aceptar</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
     </div>

<script>onloadpagevarios();</script>

</div>

<div class="row"> 
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    {% if headtable %}
                        {% for dato in headtable %}
                            <th scope="col">{{ dato }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if listaract %}
                    {% for acti in listaract %}
                    <tr>
                        <td >{{acti.1}}</td>
                        <td >{{acti.2}}</td>
                        <td >{{acti.3}}</td>
                        <td >{{acti.4}}</td>
                        <td >{{acti.5}}</td>
                        <td >{{acti.6}}</td>
                        <td >{{acti.7}}</td>
                        <td >{{acti.8}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Cerrar
                            </button>
                        </td>                                     
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if listasr %}
                    {% for sr in listasr %}
                    <tr>
                        <td >{{sr.1}}</td>
                        <td >{{sr.2}}</td>
                        <td >{{sr.3}}</td>
                        <td >{{sr.4}}</td>
                        <td >{{sr.5}}</td>
                        <td >{{sr.6}}</td>
                        <td >{{sr.7}}</td>
                        <td >{{sr.8}}</td>
                        <td >{{sr.9}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Cerrar
                            </button>
                        </td>                                     
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
    </div>
</div>
 {%endblock%} 
