{% extends "base.html" %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4"> 
    </div>
    <script>onloadpagevarios();</script>
</div>
<style>
    .custom-margin-top {
        margin-top: 20px; /* Ajusta el valor según sea necesario */
    }
</style>

<div class="row custom-margin-top">
    <div> 
    </div>
    <div class="col-md-9">
        <div class="container">
                <div class="container ">
                    {% for ips in ipcgnat %}
                        <h4>{{ips}} - </h4>
                        <div class="alert alert-dismissible alert-light">
                        {% for datos in datoscgnats %}
                            
                            {% if ips == datos.1 %}
                                <h5>{{datos.6}}</h5>
                                <style>
                                    .progress-bar-value {
                                        color: #000000; 
                                    }
                                </style>
                                <div class="progress mb-1">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{datos.10}};"  aria-valuemax="100">
                                        <span style="color: #000000;"><b>{{datos.10}}</b>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}                    
                        {% endfor %}
                        </div>
                        <div class="row">
                            &nbsp 
                        </div>
                    {% endfor %}    
                </div>
                <br>
        </div>
    </div>
    <div class="col-md-3"> 
        <form method="get">
            {% csrf_token %}
            <fieldset>
              <fieldset class="form-group">
                <legend class="mt-4">CGNAT CENAM</legend>
                {% for opcion in opcioncgnats %}
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" id="optionsRadios3{{ loop.index }}" name="optionsRadios{{ loop.index }}"  value="{{ opcion }}">
                        <label class="form-check-label" for="optionsRadios3{{ loop.index }}"">{{ opcion }}</label>
                    </div>
                {% endfor %}
              </fieldset>
              <div class="row">
                &nbsp  
              </div>
              <button type="submit" class="btn btn-primary" name="action" value="graficar">Graficar</button>
              <button type="submit" class="btn btn-primary" name="action" value="reporte">Reporte</button>
              {% if download_url %}
                <a href="{{ download_url }}">Descargar Reporte CSV ({{ filename }})</a>
              {% endif %}
            </fieldset>
        </form>
    </div>
</div>

{%endblock%}

