{% extends "base.html" %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4"> 
    </div>
    <script>onloadpagevarios();</script>
</div>
<style>
    .custom-margin-top {
        margin-top: 20px; /* Ajusta el valor según sea necesario */
    }
</style>

<div class="row custom-margin-top">
    <div> 
    </div>
    <div class="col-md-9">
        <div class="container">
                <div class="container ">
                    {% for ips in ipcgnat %}
                        <h4>{{ips}} - </h4>
                        <div class="alert alert-dismissible alert-light">
                        {% for datos in datoscgnats %}
                            
                            {% if ips == datos.1 %}
                                <h5>{{datos.6}}&nbsp&nbsp&nbsp - {{datos.9}} de {{datos.8}} - Usuarios Posibles</h5>
                                <style>
                                    .progress-bar-value {
                                        color: #000000; 
                                    }
                                </style>
                                <div class="progress mb-1">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{datos.10}};"  aria-valuemax="100">
                                        <span style="color: #000000;"><b>{{datos.10}}</b>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}                    
                        {% endfor %}
                        </div>
                        <div class="row">
                            &nbsp 
                        </div>
                    {% endfor %}    
                </div>
                <br>
        </div>
    </div>
    <div class="col-md-3"> 
        <div>
            {% if tipoalerta == '0' %}
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {%if inforcgnat1 %}
                        <strong>{{ inforcgnat1 }}</strong>. 
                    {% endif %}
                    {%if inforcgnat2 %}
                        <strong>{{ inforcgnat2 }}</strong>. 
                    {% endif %}  
            </div>
            {% endif %}

            {% if tipoalerta == '1' %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {%if inforcgnat1 %}
                        <strong>{{ inforcgnat1 }}</strong>APP WEB para consultar el estado de los CGNAT CENAM. 
                    {% endif %}
                    {%if inforcgnat2 %}
                        <strong>{{ inforcgnat2 }}</strong>. 
                    {% endif %} 
                </div>
            {% endif %}
            {% if tipoalerta == '2' %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {%if inforcgnat1 %}
                        <strong>{{ inforcgnat1 }}</strong>. 
                    {% endif %}
                    {%if inforcgnat2 %}
                        <strong>{{ inforcgnat2 }}</strong>. 
                    {% endif %}  
                </div>
            {% endif %}
            {% if tipoalerta == '3' %}
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {%if inforcgnat1 %}
                        <strong>{{ inforcgnat1 }}</strong>. 
                    {% endif %}
                    {%if inforcgnat2 %}
                        <strong>{{ inforcgnat2 }}</strong>. 
                    {% endif %} 
                </div>
            {% endif %}
        </div>

        <div>
            <form method="get">
                {% csrf_token %}
                <fieldset>
                <fieldset class="form-group">
                    <legend class="mt-4">CGNAT CENAM</legend>
                    {% for opcion in opcioncgnats %}
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" id="optionsRadios3{{ loop.index }}" name="optionsRadios{{ loop.index }}" value="{{ opcion }}" onclick="copiarradio(this);">
                            <label class="form-check-label" for="optionsRadios3{{ loop.index }}">{{ opcion }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
                <script>
                    // Asegúrate de que esta función esté definida fuera del bucle y solo una vez
                    function copiarradio(radioElement) {
                    var valorR = radioElement.value;
                        document.getElementById("valorRadio").value = valorR
                    }
                    </script>
                <div class="row">
                    &nbsp  
                </div>
                <button id="graficar" type="submit" class="btn btn-primary" name="graficar" value="graficar">Graficar</button>
                </fieldset>
            </form>
        </div>
        <div class="row">  
            &nbsp
        </div>
            <form id="formReporte" method="POST" onsubmit="enviarFormulario(); return false;">
                {% csrf_token %} 
                <input type="hidden" name="valorRadio" id="valorRadio" value="">
                <button id="reporte" type="submit" class="btn btn-primary" name="reporte" value="reporte">Reporte</button>
            </form>
        <div>
            <script>
                function enviarFormulario() {
                    var valorRadio = document.getElementById('valorRadio').value;
                    var form = document.getElementById('formReporte');
                    form.action = `{% url 'descargarcsv' 'placeholder' %}`.replace('placeholder', valorRadio);
                    form.submit();
                }
            </script>
        </div>
    </div>
</div>

{%endblock%}

