{% extends "base.html" %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4"> 
    </div>
    <script>onloadpagevarios();</script>
</div>
<style>
    .custom-margin-top {
        margin-top: 20px; /* Ajusta el valor según sea necesario */
    }
</style>

<div class="row custom-margin-top">
    <div class="col-md-1"> 
    </div>
    <div class="col-md-8">
        <div class="container">
            {% for ips in ipcgnat %}
            <h4>{{ips}}</h4>
            <div class="container">
                {% for datos in datoscgnats %}
                    <h6>{{datos.0}}</h6>
                    <div class="progress mb-1">
                        <div class="progress-bar" role="progressbar" style="width: {{ datos.1 }}%;" aria-valuenow="{{ datos.2 }}" aria-valuemin="{{ datos.3 }}" aria-valuemax="{{ datos.4 }}"></div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ datos.5 }}%;" aria-valuenow="{{ datos.6}}" aria-valuemin="{{ datos.7 }}" aria-valuemax="{{ datos.8 }}"></div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ datos.9 }}%;" aria-valuenow="{{ datos.10 }}" aria-valuemin="{{ datos.11 }}" aria-valuemax="{{ datos.12 }}"></div>
                    </div>
                {% endfor %}
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3"> 
        <form method="get">
            {% csrf_token %}
            <fieldset>
              <fieldset class="form-group">
                <legend class="mt-4">CGNAT CENAM</legend>
                {% for opcion in opcioncgnats %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheck{{ loop.index }}" name="opcion{{ loop.index }}" value="{{ opcion }}">
                        <label class="form-check-label" for="flexSwitchCheck{{ loop.index }}">{{ opcion }}</label>
                    </div>
                {% endfor %}
              </fieldset>
              <button type="submit" class="btn btn-primary" name="action" value="graficar">Graficar</button>
              <button type="submit" class="btn btn-primary" name="action" value="reporte">Reporte</button>
            </fieldset>
        </form>
    </div>
</div>

{%endblock%}

