{% extends "base.html" %}

{% block titulo %}INICIO{% endblock %}

{% block contenido %} 

<div class="row" style="margin: 10px;">
    <div class="col-md-12">
      <div id="toastContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toastMessage" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <strong id="toastTitle"></strong>
                    <p id="toastContent"></p>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
      </div>
    </div>
        <script>
          function mostrarToast(conexiondb) {
              var toastEl = document.getElementById('toastMessage');
              var toastTitle = document.getElementById('toastTitle');
              var toastContent = document.getElementById('toastContent');
  
              if (conexiondb == 0) {
                  toastEl.classList.remove('bg-danger');
                  toastEl.classList.add('bg-success');
                  toastTitle.textContent = 'Conexión Exitosa';
                  toastContent.textContent = 'Conectado a la base de datos.';
              } else {
                  toastEl.classList.remove('bg-success');
                  toastEl.classList.add('bg-danger');
                  toastTitle.textContent = 'Error de Conexión';
                  toastContent.textContent = 'No se pudo conectar a la base de datos. Por favor, inténtalo de nuevo más tarde.';
              }
  
              var toast = new bootstrap.Toast(toastEl);
              toast.show();
          }
  
          $(document).ready(function() {
              var conexiondb = {{ conexiondb }};  
              mostrarToast(conexiondb);
          });
      </script>
</div>



  <div class="row" style="margin: 10px;">
    
    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <form action=" " method="GET">
            {% csrf_token %}
            <div class="input-group mb-3" style="margin-top: 3px;">
                <span class="input-group-text">Buscar</span>
                <input type="text"  id="idtxtbuscado" name="strbuscado" class="form-control"  placeholder="Quiero tener suerte ...." required>
                <input type="hidden" id="iddbselectedwel" name="iddbselectedwel">
                <input type="hidden" id="idtxtpiv" name="pivstr" value ="0">
                <button type="submit" class="btn btn-danger" >Buscar</button>
                  <select id="selectdbwel" name="selectdbw" class="input-group-text" aria-label=".form-select-sm example" onchange="copiaselectdbsbackup(); return;">
                    {% for db in dbsb %}
                        <option value="{{ db.0 }}">{{ db.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            </form> 
    </div> 
    <div class="col-md-1"> 
    </div>
    <div class="col-md-5" style="margin-top: 3px;">
        {% if alertsuccess == 1 %}
            <div class="alert alert-dismissible alert-success me-4">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <div class="alert" style="margin-top: 3px;">
                    <strong>Bienvenidos</strong> al Dashboard de backofficeip, puedes hacer clic en
                    <a href="#" class="alert-link">las opciones abajo</a> para visualizar un resumen de 
                    <a href="{% url 'agregar_sr' pagina=1 %}" class="alert-link">Casos</a> y 
                    <a href="{% url 'agregar_act' pagina=1 %}" class="alert-link">Actividades</a>.
                    Puedes usar la Búsqueda teniendo suerte, ingresa la(s) palabra(s) a buscar separadas por | "pipe".
                </div>
            </div>        
        {%endif%}
    </div>
    <script>onloadpagewelcome();</script>
</div>

<div class="row" style="margin: 5px;"> 
    <div class="col-md-7">
        {%if resultadoencontrado %}
            <table id = "tablaresultados" class="table table table-sm">
                <thead>
                    <tr>
                        <th>RESULTADO</th>   
                </thead>
                <tbody>
                    {% for enstr in resultadoencontrado %}
                        <tr>
                            <td>{{enstr.0}}</td>
                            <td >{{enstr.1}}</td>
                            <td>{{enstr.2}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%endif%}
    </div>

    <div class="col-md-5">  
        <div class="accordion ms-3" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Resumen SR a Proveedores -- &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="badge bg-primary rounded-pill"><strong>{{sumacasosr}}</strong></span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <table id = "tablaips" class="table table table-sm">
                        <thead >
                           <tr>
                             <th scope="col">SR</th>
                             <th scope="col">FECHA APERTURA</th>
                             <th scope="col">PAIS</th>
                             <th scope="col">DÍAS</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for sr in listarsr %}
                              <tr>
                                <td>{{sr.codigo}}</td> 
                                <td>{{sr.fecha}}</td>
                                <td>{{sr.pais}}</td>
                                <td>{{sr.dias}}</td>                            
                              </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                    Actividades Calendarizadas -- &nbsp;&nbsp;&nbsp;&nbsp; 
                  <span class="badge bg-primary rounded-pill"><strong>{{sumaact}}</strong></span>
                </button>
              </h2>
              <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <table id = "tablaips" class="table table table-sm">
                        <thead >
                           <tr>
                             <th scope="col">CÓDIGO</th>
                             <th scope="col">VENDOR</th>
                             <th scope="col">FECHA</th>
                             <th scope="col">DÍAS:</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for act in listaract %}
                              <tr>
                                <td>{{act.codigo}}</td> 
                                <td>{{act.vendor}}</td> 
                                <td>{{act.fecha}}</td>
                                <td>{{act.dias}}</td>                            
                              </tr>
                           {% endfor %}
                        </tbody>
                    </table>        
                </div>
              </div>
            </div> 
        </div>
    </div>
</div>
 {%endblock%}

